<div class="carousel-slider" data-category-slick>
    <div class="carousel-slider_top">
        <h2>{{title}}</h2>

        <div class="carousel-slider_controls"></div>
    </div>

    <div class="carousel-slider_body">
        <ul class="carousel-slider_carousel">
            <li class="carousel-slider_item">
                <a href="" class="carousel-slider_item_link">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkYPhfDwAChwGA60e6kgAAAABJRU5ErkJggg==" alt="" width="512" height="512">
                    <h3>Tattoo inks</h3>
                </a>
            </li>
            <li class="carousel-slider_item">
                <a href="" class="carousel-slider_item_link">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkYPhfDwAChwGA60e6kgAAAABJRU5ErkJggg==" alt="" width="512" height="512">
                    <h3>Tattoo inks</h3>
                </a>
            </li>
            <li class="carousel-slider_item">
                <a href="" class="carousel-slider_item_link">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkYPhfDwAChwGA60e6kgAAAABJRU5ErkJggg==" alt="" width="512" height="512">
                    <h3>Tattoo inks</h3>
                </a>
            </li>
            <li class="carousel-slider_item">
                <a href="" class="carousel-slider_item_link">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkYPhfDwAChwGA60e6kgAAAABJRU5ErkJggg==" alt="" width="512" height="512">
                    <h3>Tattoo inks</h3>
                </a>
            </li>
            <li class="carousel-slider_item">
                <a href="" class="carousel-slider_item_link">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkYPhfDwAChwGA60e6kgAAAABJRU5ErkJggg==" alt="" width="512" height="512">
                    <h3>Tattoo inks</h3>
                </a>
            </li>
            <li class="carousel-slider_item">
                <a href="" class="carousel-slider_item_link">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mNkYPhfDwAChwGA60e6kgAAAABJRU5ErkJggg==" alt="" width="512" height="512">
                    <h3>Tattoo inks</h3>
                </a>
            </li>
        </ul>
    </div>
</div>
