{{#if items}}
<div class="accordion-block">
    {{> components/faceted-search/faceted-search-navigation}}

    <div id="facetedSearch-content--{{dashcase facet}}" class="accordion-content{{#unless start_collapsed}} is-open{{/unless}}">
        <div class="slide-out-title" data-collapsible="#facetedSearch-content--{{dashcase facet}}">
            <svg width="11" height="16" viewBox="0 0 11 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 13L3 8L8 3" stroke="white" stroke-width="3" stroke-linecap="square"/>
            </svg>
    
            {{title}}
        </div>

        <ul id="facetedSearch-navList--{{dashcase facet}}" class="navList" data-facet="{{facet}}" data-has-more-results="{{has_more_results}}">
            {{#each items}}
                <li class="navList-item">
                    <a
                        href="{{url}}"
                        class="navList-action navList-action--checkbox{{#if selected }} is-selected{{/if}}{{#if has_sub_categories}} has-children{{/if}}"
                        rel="nofollow"
                        data-id="{{id}}"
                        data-value="{{param_value}}"
                        data-faceted-search-facet>
                        {{{sanitize title}}}
                        {{#if ../show_product_counts}}
                            <span class="filters-count">
                                {{lang "category.items" NUM=count}}
                            </span>
                        {{/if}}
                    </a>
                    {{#if children}}
                        {{> components/faceted-search/facets/hierarchy-children children}}
                    {{/if}}
                </li>
            {{/each}}
        </ul>

        {{#if show_more_toggle}}
            <a href="#facetedSearch-navList--{{dashcase facet}}" role="button" class="toggleLink">
                <span class="toggleLink-text toggleLink-text--off">{{lang 'search.faceted.show-more'}}</span>
            </a>
        {{/if}}
        <div class="buttons-wrapper" data-close-filters style="display: none">
            <button class="button button-view-products">
                View Products
            </button>
        </div>
    </div>

</div>
{{/if}}
